.project {
  padding-left: 150px;
  margin-top: 60px;
  color: white;
  position: relative;
  top: 158px;
}
.project hr {
  color: white;
  width: 400px;
  margin: 10px auto;
}
.project h2 {
  font-weight: bold;
  color: white;
}
.project h2:hover {
  color: var(--pink);
}

#ads {
  margin: 30px 0 30px 0;
}

#ads .card-notigy-badge {
  position: absolute;
  left: -10px;
  top: -20px;
  background-color: var(--orange);
  border-radius: 30px 30px 30px 30px;
  text-align: center;
  padding: 5px 10px;
  font-size: 14px;
}

.card img {
  height: 220px;
  width: 100%;
}

.card-image-overly {
  text-align: center;
  margin: 0 auto;
}

.ad-title {
  text-align: center;
}
.card-detail-badge {
  text-align: center;
  background-color: var(--black-light);
  border-radius: 30px 30px 30px 30px;
  padding: 5px 10px;
  color: white;
  margin-top: 10px;
  font-size: 14px;
}

.card-image-overly span {
  display: inline-block;
  margin-left: 5px;
}
.card:hover {
  background: rgba(0, 234, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
  border-radius: 4px;
  transition: all 0.3s;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.btn .btn-card {
  color: white;
  background: blue;
  border: 0;
  position: relative;
  top: 10px;
  font-size: 17px;
  padding: 6px 29px;
  border-radius: 30px 1px 30px 5px;
  cursor: pointer;
  text-decoration: none;
}
.btn-card:hover{
 background-color: #fff;
 color: black;
 border: 2px solid black;
 box-shadow: 2px solid white;
} 